<mat-card *ngIf="listing && !showForm">
  <mat-card-header>
    {{listing.name}}
  </mat-card-header>
  <mat-card-content>
    <div>Address: {{listing.Address}}</div>
    <div>Cost: {{listing.Cost}}</div>
    <div>Bedrooms: {{listing.Bedrooms}}</div>
    <div>Description: {{listing.Description}}</div>
    <div>Type: {{listing.Type}}</div>
    <div>Location: {{listing.Location}}</div>
    <div>Agent ID: {{listing.AgentId}}</div>
    <!-- Add other details for the remaining properties -->

    <button *ngIf="auth.user$ | async as user" mat-raised-button color="warn" (click)="deleteItem()" class="btn">DELETE</button>
    <button *ngIf="auth.user$ | async as user" mat-raised-button color="primary" (click)="editListing()" class="btn">Edit</button>
  </mat-card-content>
</mat-card>
{{message}}
<div *ngIf="showForm"><app-listing-form [listing]="listing"></app-listing-form></div>
