<div style="display: flex; justify-content: center;">
  <h3 style="margin-right: 10px;">Search Properties</h3>
<div style="margin-right: 10px;">
  <mat-form-field>
    <input matInput placeholder="Search"/>
  </mat-form-field>
  </div>
  <div style="display: flex;">
  <mat-form-field style="margin-right: 10px;">
    <input matInput type="number" placeholder="Min Price"  />
  </mat-form-field>
  <mat-form-field style="margin-right: 10px;">
    <input matInput type="number" placeholder="Max Price" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="search()">Search</button>
</div>
</div>
