<body>
<div class="search-container">
  <h3 class="spacing">Search Properties</h3>

  <!-- Country Input -->
  <mat-form-field class="spacing">
    <input matInput placeholder="Country" [(ngModel)]="location" name="country" />
  </mat-form-field>

  <!-- Property Type Dropdown -->
  <mat-form-field class="spacing">
    <mat-label>Property Type</mat-label>
    <mat-select [(ngModel)]="selectedType" name="propertyType">
      <mat-option value="Buy">Buy</mat-option>
      <mat-option value="Rent">Rent</mat-option>
      <mat-option value="">Any</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Search Button -->
  <!-- home.component.html -->
<button mat-raised-button color="primary" (click)="search()" routerLinkActive="router-link-active">Search</button>

</div>
  
<!-- Message with Create Listing Button -->
<div *ngIf="auth.user$ | async as user" class="create-listing-message">
  <h1>Want to create a listing?</h1>
  <button mat-raised-button color="accent" [routerLink]="['/listings/form']">Click here</button>
</div>

<!-- Top 5 Listings -->

<h1 style="margin-top: 100px;">Top 5 Listings</h1>
<div class="container responsive-grid">
  <div *ngFor='let listing of top5Listings'>
    <mat-card color="accent">
      <mat-card-header>
        <mat-card-title>{{listing.Address}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>Cost: {{listing.Cost}}</div>
        <div>Bedrooms: {{listing.Bedrooms}}</div>
        <div>Description: {{listing.Description}}</div>
        <div>Type: {{listing.Type}}</div>
        <div>Location: {{listing.Location}}</div>
        <!-- You can add more details here -->
      </mat-card-content>
      <a mat-button color="primary" [routerLink]="['/listings/', listing._id]">VIEW DETAILS</a>
    </mat-card>
  </div>
</div>
</body>