
<div class="search-container">
  <h3 class="spacing">Search Properties</h3>

  <!-- Country Input -->
  <mat-form-field class="spacing">
    <input matInput placeholder="Country" [(ngModel)]="location" name="country" />
  </mat-form-field>

  <!-- Property Type Dropdown -->
  <mat-form-field class="spacing">
    <mat-label>Property Type</mat-label>
    <mat-select [(ngModel)]="selectedType" name="propertyType">
      <mat-option value="Buy">Buy</mat-option>
      <mat-option value="Rent">Rent</mat-option>
      <mat-option value="">Any</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Search Button -->
  <!-- home.component.html -->
<button mat-raised-button color="primary" (click)="search()" routerLinkActive="router-link-active">Search</button>

</div>

<!-- Message with Create Listing Button -->
<div class="create-listing-message">
  <h1>Want to create a listing?</h1>
  <button mat-raised-button color="accent" [routerLink]="['/listings/form']">Click here</button>
</div>