<body>
    <div class="calculator mat-elevation-z4" style="max-width: 400px; margin: 50px auto;">
        <h2 class="mat-h2">Mortgage Calculator</h2>
        <mat-form-field appearance="outline">
            <mat-label>Propery Cost</mat-label>
            <input matInput type="number" placeholder="Enter property amount (€)" [(ngModel)]="propertyAmount">
            <mat-icon matSuffix>house</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Loan Amount</mat-label>
            <input matInput type="number" placeholder="Enter loan amount (€)" [(ngModel)]="loanAmount">
            <mat-icon matSuffix>money</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Loan Term</mat-label>
            <mat-select placeholder="Select term amount (years)" [(ngModel)]="termAmount">
                <mat-option *ngFor="let term of termOptions" [value]="term">{{ term }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>watch</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Interest</mat-label>
            <input matInput type="number" placeholder="Enter interest rate (%)" [(ngModel)]="interest">
            <mat-icon matSuffix>percent</mat-icon>
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" (click)="calculateMortgage()">Calculate</button>
        </div>
        <div *ngIf="monthlyPayment" style="margin-top: 20px;">
            <h3 class="mat-h3">Mortgage Calculation Result:</h3>
            <p>Monthly Payment: €{{ monthlyPayment.toFixed(2) }}</p>
            <p>Total Payment: €{{ totalPayment!.toFixed(2) }}</p>
            <p>Total Interest: €{{ totalInterest!.toFixed(2) }}</p>
        </div>
    </div>
</body>