body{
  background-color: #affeee;
  height: auto;
}
.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Add spacing between inputs */
.spacing {
  margin-right: 10px;
}

.create-listing-message {
  margin-top: 20px;
  text-align: center;
}
/* top-listings.component.css */

.listings{
  display: flex;
  justify-content: center;
  text-align: center;
}
h1{
  text-align: center;
}
.container {
  padding: 24px;
 }

 .responsive-grid {
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 gap: 24px;
 }
 .addBtn{
  text-align: center;
  margin: 10px;
 }

@media (max-width: 600px) {
  /* Adjust styles for small screens */
  .search-container {
    flex-direction: column; /* Stack items vertically */
  }

  .spacing {
    margin-bottom: 10px; /* Add some spacing between elements */
  }

  .responsive-grid {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center;
    margin-right: 15px;
    margin-left: -15PX; /* Center items horizontally */
  }

  mat-card {
    width: 90%; /* Adjust card width for smaller screens */
    margin: 10px; /* Add some spacing between cards */
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .responsive-grid{
    grid-template-columns: repeat(1, 1fr);
  }
}